Count up to 65534
(vme) push constant 1
 [ 1 ]
(vme) pop local 0
 [ ]
(vme) label loop
 [ ]
(vme) push local 0
 [ 1 ]
(vme) push constant 1
 [ 1, 1 ]
(vme) add
 [ 2 ]
(vme) pop local0
 [ ]
(vme) push local 0
 [ 2 ]
(vme) push constant 65534
 [ 2, 65534 ]
(vme) eq
 [ 0 ]
`if-goto`s, if the current top of the stack is `0` are
the only way to point to labels which have not yet been
declared in the REPL because such `if-goto` instructions
will not actually result in a symbol lookup.
The label must be declared when the next non-goto statement
is issued. Otherwise the jump will be ignored.
(vme) if-goto end
 [ ]
(vme) goto loop
 [ ]
(vme) label end
 [ ]
(vme) push local 0
 [ 65534 ]
